@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


:root {
  background: #0a0a0a;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0a0a0a;
  color: white;
}